@model Assignment_5.Task


<h2>Add A Task</h2>
@using(@Html.BeginForm("AddTask","Tassk"))
{
<div class= "form-group">
    @Html.LabelFor(m=>m.TaskId)
    @Html.TextBoxFor(m=>m.TaskId, new {@class="form-control"})
</div>
<div class= "form-group">
    @Html.LabelFor(m=>m.Time)
    @Html.TextBoxFor(m=>m.Time, new {@class="form-control"})
</div>
<div class= "form-group">
    @Html.LabelFor(m=>m.TaskOwner)
    @Html.TextBoxFor(m=>m.TaskOwner, new {@class="form-control"})
</div>
<div class= "form-group">
    @Html.LabelFor(m=>m.TaskStatus)
    @Html.TextBoxFor(m=>m.TaskStatus, new {@class="form-control"})
</div>
<div class= "form-group">
    @Html.LabelFor(m=>m.StoryDescription)
    @Html.TextBoxFor(m=>m.StoryDescription, new {@class="form-control"})
</div><br />
<div class="form-group">
    <button type="Submit" class="btn btn-primary">ADD</button>
</div>

}


